ion-menu-button {
  color: var(--ion-color-primary);
}

.expanded {
  left: 0 !important;
}
.expanded1 {
  right: 0 !important;
}

#container {
  // display: flex;
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/cesped.jpg);
  background-size: 100% 100%;
  padding: 20px 0 0;
  text-align: center;

  img {
    // margin: 0 auto;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#campo {
  // width: 80%;
  // max-height: 80%;
  height: 600px;
}

#drop-element {
  position: absolute;
  // border: 1px solid;
  // background-color: rgba(0,0,0,.5);
  // top: 20px;
  margin: auto;
  left: 0;
  right: 0;
  span {
    text-shadow: 1px 1px 1px black;
  }
  .team-color {
    margin: auto !important;
    margin-bottom: 2px !important;
    margin-top: 0px !important;
    cursor: pointer;
  }
}

canvas {
  touch-action: none;
}
.image-holder-draggable {
  touch-action: none;
  position: absolute;
  z-index: 99991;
}

#bottom-menu {
  width: 100%;
  height: 100px;
  background-color: #222;
  bottom: 0;
  position: sticky;
}

.menu-header {
    content: "";
    width: 33.33%;
    // height: 20px;
    text-align: center;
    background-color: #222;
    padding: 6px;
    top: -26px;
    position: relative;
    margin: auto;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  }

.teams {
  position: absolute;
  top: 10px;
  img {
    height: 80px;
    border-radius: 40px;
  }
  .terrain {
    border-radius: 0;
    height: 40px;
  }
}
.team1 {
  left: 10px;
}
.team2 {
  right: 10px;
}

.list-of-tools {
  // display: flex;
  position: absolute;
  left: 10px;
  bottom: 40%;
  color: silver;
  div {
    font-size: 28px;
    margin-bottom: 5px;
  }
  .selectedTool {
    border-bottom: 1px solid red;
  }

  [dash] {
    font-size: 12px;
  }
  .selectedDash {
    color: crimson !important;
  }
}

.team-image {
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid #fff;
  margin-bottom: 12px;
}

.bg-green {
  background-color: #99cbed !important;
}

.scene-circle-holder {
  float: left;

  // width: 10%;
  display: flex;
}
[name="scene"]
{
  display: none;
  &+label {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display: inline-block;
    border:2px solid #fff;
  }

  &:checked + label {
    background-color: lightblue;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}

ul {
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  min-height: 100px;
  max-height: 290px;
  overflow: auto;
  padding-bottom: 4px;
  margin-top: 0;
  background-color: #555;
  li {
    margin-bottom: 8px;
    font-size: 10px;
    h6 {font-size: 12px; margin: 2px 0 6px;}
    background-color: #333;
    text-align: left;
    img {
      width: 100px;
    }
  }
}

.brush {
  cursor: pointer;
}