<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<div id="modal-header" *ngIf="step == 1">
		Terreno de juego
	</div>

	<div id="modal-header" *ngIf="step == 2">
		Configuración de los equipos
	</div>

	<div id="modal-header" *ngIf="step == 3">
		Cargar Equipos
	</div>

	<div id="modal-header" *ngIf="step == 4">
		Nuevo Equipo
	</div>

	<div id="modal-header" *ngIf="step == 5">
		Plantilla
	</div>

	<div id="modal-header" *ngIf="step == 6">
		Datos del Jugador
	</div>

	<div id="modal-header" *ngIf="step == 7">
		Datos del Partido
	</div>
	<div id="outer-modal">
		<div id="inner-modal">

			<div id="inner-information">

				<div *ngIf="step == 1">
					
					<ion-row>
						<ion-col size="4">
							<label style="text-align: center;">
								<div style="height: 200px; display: flex;">
									<img src="assets/terreno1.svg" alt="">
								</div>

							    <input type="radio" name="terreno" (click)="terreno = 1">
								<span style="position: relative; top: 8px; display: block;">Opción 1</span>
							</label>
						</ion-col>

						<ion-col size="4">
							<label style="text-align: center;">
								<div style="height: 200px; display: flex;">
									<img src="assets/terreno2.svg" alt="" style="height: 150px; margin: auto;">
								</div>

							    <input type="radio" name="terreno" (click)="terreno = 2">
								<span style="position: relative; top: 8px; display: block;">Opción 2</span>
							</label>
						</ion-col>

						<ion-col size="4">
							<label style="text-align: center;">
								<div style="height: 200px; display: flex;">
									<img src="assets/terreno3.svg" alt="" style="height: 150px; margin: auto;">
								</div>

							    <input type="radio" name="terreno" (click)="terreno = 3">
								<span style="position: relative; top: 8px; display: block;">Opción 3</span>
							</label>
						</ion-col>
					</ion-row>

					<br><br><br>

					<ion-row>
						<ion-col offset="4" size="4">
							<button class="button-login" [disabled]="!terreno" (click)="step = 2">
								SIGUIENTE
							</button>
						</ion-col>
					</ion-row>


				</div>

				<div *ngIf="step == 2">

					<ion-row>
						
						<ion-col size="6" style="border-right: 2px solid green; min-height: 360px;">
							
							<ion-row>
								<ion-col size="12" *ngIf="team1">
									
									<div class="teamImage" [ngStyle]="{'background-image':'url('+team1.image+')'}">
										
									</div>
									<div class="teamName">
										{{team1.name}}
									</div>

									<div style="clear: both;"></div>

									<br>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Colores</span></ion-col>
										<ion-col size="8">

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team1.number}" (click)="selectToggle('selectT1N')">
													
													<div class="list-of-colors pr" *ngIf="selectT1N">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team1.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.number == c}">
										                </div>
										            </div>

												</div>

												Color número
											</div>

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team1.main}" (click)="selectToggle('selectT1M')">
													
													<div class="list-of-colors pr" *ngIf="selectT1M">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team1.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.main == c}">
										                </div>
										            </div>

												</div>

												Color principal
											</div>

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team1.back}" (click)="selectToggle('selectT1B')">
													
													<div class="list-of-colors pr" *ngIf="selectT1B">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team1.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team1.back == c}">
										                </div>
										            </div>

												</div>

												Color fondo
											</div>
										</ion-col>
									</ion-row>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Estilos</span></ion-col>
										<ion-col size="8">

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient('+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team1.style == 1}" (click)="styles.team1.style = 1">
													10
												</div>

												Estilo 1
											</div>

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient(90deg,'+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team1.style == 2}" (click)="styles.team1.style = 2">
													10
												</div>

												Estilo 2
											</div>

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team1.number ,'background': 'repeating-linear-gradient(45deg,'+styles.team1.main+', '+styles.team1.main+' 5px, '+styles.team1.back+' 5px, '+styles.team1.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team1.style == 3}" (click)="styles.team1.style = 3">
													10
												</div>

												Estilo 3
											</div>
										</ion-col>
									</ion-row>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Solo color sólido</span></ion-col>
										<ion-col size="8">
											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team1.number ,'background': styles.team1.main}"
												[ngClass]="{'selectedStyle': styles.team1.style == 4}" (click)="styles.team1.style = 4">
													10
												</div>
											</div>
										</ion-col>
									</ion-row>

								</ion-col>
								<ion-col size="6">
									<button class="modal-button" (click)="selectedTeam = 1; step = 3">
										Equipo Casa
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button" *ngIf="team1" (click)="selectedTeam = 1; step = 5; preRosters(); prePlayers();">
										Plantilla
									</button>
								</ion-col>
							</ion-row>


						</ion-col>
						<ion-col size="6" style="min-height: 360px;">
							
							<ion-row>
								<ion-col size="12" *ngIf="team2">
									
									<div class="teamImage" [ngStyle]="{'background-image':'url('+team2.image+')'}">
										
									</div>
									<div class="teamName">
										{{team2.name}}
									</div>

									<div style="clear: both;"></div>

									<br>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Colores</span></ion-col>
										<ion-col size="8">

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team2.number}" (click)="selectToggle('selectT2N')">
													
													<div class="list-of-colors pr" *ngIf="selectT2N">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team2.number = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.number == c}">
										                </div>
										            </div>

												</div>

												Color número
											</div>

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team2.main}" (click)="selectToggle('selectT2M')">
													
													<div class="list-of-colors pr" *ngIf="selectT2M">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team2.main = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.main == c}">
										                </div>
										            </div>

												</div>

												Color principal
											</div>

											<div class="colors">
												<div class="color" [ngStyle]="{'background-color': styles.team2.back}" (click)="selectToggle('selectT2B')">
													
													<div class="list-of-colors pr" *ngIf="selectT2B">
										                <div *ngFor="let c of colors" class="color" (click)="styles.team2.back = c;" [ngStyle]="{'background-color':c}" [ngClass]="{'selectedColor': styles.team2.back == c}">
										                </div>
										            </div>

												</div>

												Color fondo
											</div>
										</ion-col>
									</ion-row>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Estilos</span></ion-col>
										<ion-col size="8">

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient('+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team2.style == 1}" (click)="styles.team2.style = 1">
													10
												</div>

												Estilo 1
											</div>

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient(90deg,'+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team2.style == 2}" (click)="styles.team2.style = 2">
													10
												</div>

												Estilo 2
											</div>

											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team2.number ,'background': 'repeating-linear-gradient(45deg,'+styles.team2.main+', '+styles.team2.main+' 5px, '+styles.team2.back+' 5px, '+styles.team2.back+' 10px)'}"
												[ngClass]="{'selectedStyle': styles.team2.style == 3}" (click)="styles.team2.style = 3">
													10
												</div>

												Estilo 3
											</div>
										</ion-col>
									</ion-row>

									<ion-row>
										<ion-col size="4"><span class="to-mid">Solo color sólido</span></ion-col>
										<ion-col size="8">
											<div class="colors">
												<div class="color number"
												[ngStyle]="{'color': styles.team2.number ,'background': styles.team2.main}"
												[ngClass]="{'selectedStyle': styles.team2.style == 4}" (click)="styles.team2.style = 4">
													10
												</div>
											</div>
										</ion-col>
									</ion-row>

								</ion-col>

								<ion-col size="6">
									<button class="modal-button" (click)="selectedTeam = 2; step = 3">
										Equipo Visitante
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button" *ngIf="team2" (click)="selectedTeam = 2; step = 5; preRosters(); prePlayers();">
										Plantilla
									</button>
								</ion-col>
							</ion-row>

						</ion-col>

					</ion-row>

					<ion-row style="margin-top: 20px;">
						<!-- <ion-col size="6">
							<label style="position: relative; top: 0px;">Portero con equipación diferente 
								<ion-toggle style="position: relative; top: 14px;"></ion-toggle>
							</label>
						</ion-col> -->

						<ion-col size="6" offset="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" [disabled]="!team1 && !team2" (click)="step = 7">
										Siguiente
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button danger" (click)="modal.dismiss()">
										Cancelar
									</button>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
					
				</div>

				<!-- /**/ -->

				<div *ngIf="step == 3">

					<ion-row>
						<ion-col size="12">
							<div id="search-doc">
								<ion-icon name="search"></ion-icon>
								<input type="text" [(ngModel)]="query1">
								<div style="clear: both;"></div>
							</div>		
						</ion-col>
					</ion-row>
					
					<ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
						<ion-col size="4">Logo</ion-col>
						<ion-col size="4">Nombre</ion-col>
						<ion-col size="3">Fecha de Creación</ion-col>
						<!-- <ion-col size="3">Favorito</ion-col> -->
						<ion-col size="1"></ion-col>
					</ion-row>

					<div style="height: 271px; overflow: auto;">
						

						<ion-row *ngFor="let t of teams | search:query1; let i = index;" style="margin: 8px 0" [ngClass]="{'selectedTeam': team == i}">
							<ion-col size="4" (click)="team = i">
								<div class="team-logo" [ngStyle]="{'background-image':'url('+t.image+')'}"></div>
							</ion-col>
							<ion-col size="4" (click)="team = i" style="text-align: center;">
								<span class="reconfigure">{{t.name}}</span>
							</ion-col>
							<ion-col size="3" (click)="team = i" style="text-align: center;">
								<span class="reconfigure">{{t.created_at | date:'dd-MM-yyyy'}}</span>
							</ion-col>
							<!-- <ion-col size="3">
								<span class=""><ion-toggle style="margin-top: 4px"></ion-toggle></span>
							</ion-col> -->
							<ion-col size="1">
								<span class="">
									<ion-button slot="icon-only" color="danger" (click)="delete(t.id)">
										<ion-icon name="trash"></ion-icon>
									</ion-button>
								</span>
							</ion-col>
						</ion-row>

						<ion-row *ngIf="teams.length == 0">
							<ion-col size="12" style="text-align: center; font-size: 14px;">Sin resultados</ion-col>
						</ion-row>

					</div>

					<ion-row>
						<ion-col size="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" (click)="step = 4">
										Nuevo Equipo
									</button>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col size="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" (click)="selectTeam()">
										Cargar
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button danger" (click)="step = 2">
										Cancelar
									</button>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>


				</div>

				<div *ngIf="step == 4">

					<ion-row>
						<ion-col size="3">

							<label class="preselect" [ngStyle]="{'background-image':'url('+team_image+')'}">
								<input type="file" style="display: none" id="team-file" (change)="upload($event,'team_image')">
							</label>

						</ion-col>

						<ion-col size="9">

							<label class="modal-label">
								Nombre del equipo
							</label>

							<input type="text" class="modal-input" [(ngModel)]="team_name">
						</ion-col>
					</ion-row>

					<!-- <ion-row>
						<ion-col offset="4" size="4">
							<button class="button-login" [disabled]="!team_name" (click)="saveTeam()">
								Agregar
							</button>
						</ion-col>
					</ion-row> -->

					<ion-row>
						<ion-col size="6" offset="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" [disabled]="!team_name" (click)="saveTeam()">
										Agregar
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button danger" (click)="step = 2">
										Cancelar
									</button>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>

				</div>

				<!-- /**/ -->

				<div *ngIf="step == 5">

					<ion-row>
						<ion-col size="12">
							<div id="search-doc">
								<ion-icon name="search"></ion-icon>
								<input type="text" [(ngModel)]="query2">
								<div style="clear: both;"></div>
							</div>		
						</ion-col>
					</ion-row>
					
					<ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
						<ion-col size="3">Nombre</ion-col>
						<ion-col size="3">Número</ion-col>
						<ion-col size="3">Posición</ion-col>
						<ion-col size="2">Titular</ion-col>
						<!-- <ion-col size="2">Peto</ion-col> -->
						<ion-col size="1"></ion-col>
						
					</ion-row>

					<div style="height: 271px; overflow: auto;">
						

						<ion-row *ngFor="let r of rosters | search:query2; let i = index;" style="margin: 8px 0">
							<ion-col size="3">
								<span class="reconfigure">
									<select class="players" [attr.data-id]="r.id" class="form-control" (change)="updateRoster(r,$event,'player')">
										<option selected></option>
										<option [selected]="p.id == r.player_id" *ngFor="let p of players | double:players_selected:r.player_id" [value]="p.id">{{p.name}}</option>
									</select>
								</span>
								<!-- <span class="reconfigure">{{r.player.name}}</span> -->
							</ion-col>
							<ion-col size="3">
								<span class="reconfigure">
									<input type="number" class="numbers" [attr.data-id]="r.id" class="form-control" [value]="r.number" (change)="updateRoster(r,$event,'number')">
								</span>
							</ion-col>
							<ion-col size="3">
								<span class="reconfigure">
									<select class="positions" [attr.data-id]="r.id" class="form-control" (change)="updateRoster(r,$event,'position')">
										<option [selected]="r.position == 'Portero'">Portero</option>
                    <option [selected]="r.position == 'Carrilero'">Carrilero</option>
                    <option [selected]="r.position == 'Mediocampista'">Mediocampista</option>
                    <option [selected]="r.position == 'Lateral izquierdo'">Lateral izquierdo</option>
                    <option [selected]="r.position == 'Defensa central'">Defensa central</option>
                    <option [selected]="r.position == 'Lateral derecho'">Lateral derecho</option>
                    <option [selected]="r.position == 'Centrocampista Ofensivo'">Centrocampista Ofensivo</option>
                    <option [selected]="r.position == 'Centrocampista Defensivo'">Centrocampista Defensivo</option>
                    <option [selected]="r.position == 'Extremo Derecho'">Extremo Derecho</option>
                    <option [selected]="r.position == 'Extremo Izquierdo'">Extremo Izquierdo</option>
                    <option [selected]="r.position == 'Mediapunta'">Mediapunta</option>
                    <option [selected]="r.position == 'Delantero'">Delantero</option>
									</select>
								</span>
							</ion-col>
							<ion-col size="2" style="text-align: center;">
								<span class=""><ion-toggle [checked]="r.titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
							</ion-col>
							<!-- <ion-col size="2">
								<div class="team-logo" [ngStyle]="{'background-color': (r.peto || '#fff') }"></div>
							</ion-col> -->
							<ion-col size="1">
								<span class="">
									<ion-button slot="icon-only" color="danger" (click)="delete2(r.id,r.team_id)">
										<ion-icon name="trash"></ion-icon>
									</ion-button>
								</span>
							</ion-col>
						</ion-row>

						<ion-row *ngIf="rosters.length == 0">
							<ion-col size="12" style="text-align: center; font-size: 14px;">Sin resultados</ion-col>
						</ion-row>

					</div>

					<ion-row>
						<ion-col size="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" (click)="step = 6">
										Añadir Jugador
									</button>
								</ion-col>
							</ion-row>
						</ion-col>
						<ion-col size="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button danger" style="width: 50%; float: right; height: 42px;" (click)="addRoster({})">
										<ion-icon style="color: crimson;" name="add-outline"></ion-icon>
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button" (click)="step = 2">
										Ok
									</button>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>


				</div>


				<!-- /**/ -->

				<div *ngIf="step == 6">

					<ion-row>
						<ion-col size="3">

							<label class="preselect" [ngStyle]="{'background-image':'url('+player_image+')'}">
								<input type="file" style="display: none" id="team-file" (change)="upload($event,'player_image')">
							</label>

						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Nombre
							</label>

							<input type="text" class="modal-input" [(ngModel)]="player_name">

						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Número
							</label>

							<input type="text" class="modal-input" [(ngModel)]="player_number">
							
						</ion-col>

						<ion-col size="3">
							<label class="modal-label">
								Posición
							</label>

							<select [(ngModel)]="player_position" class="form-control" style="top: 10px;">
								<option>Delantero</option>
								<option>Defensa</option>
								<option>Carrilero</option>
								<option>Mediocampista</option>
								<option>Extremo</option>
								<option>Portero</option>
							</select>
						</ion-col>

						<!-- <ion-col size="1">
							<label class="modal-label">
								Peto
							</label>

							<div class="team-logo" [ngStyle]="{'background-color':'#fff'}"></div>
						</ion-col> -->

						<ion-col size="3" offset="3">

							<label class="modal-label">
								Años
							</label>

							<input type="text" class="modal-input" [(ngModel)]="player_age">							

						</ion-col>

						<ion-col size="2">

							<label class="modal-label">
								Peso
							</label>

							<input type="text" class="modal-input" [(ngModel)]="player_weight">

						</ion-col>

						<ion-col size="2">

							<label class="modal-label">
								Altura
							</label>

							<input type="text" class="modal-input" [(ngModel)]="player_height">
							
						</ion-col>

						<ion-col size="2" style="text-align: center;">
							<label class="modal-label">
								Titular
							</label>

							<span class=""><ion-toggle [(ngModel)]="player_titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
						</ion-col>

						<ion-col size="12">
							<label class="modal-label">
								Notas
							</label>

							<textarea [(ngModel)]="player_notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="6"></textarea>
						</ion-col>
					</ion-row>

					<ion-row>
						<ion-col size="6" offset="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" [disabled]="!player_name" (click)="savePlayer()">
										Agregar
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button danger" (click)="step = 5">
										Cancelar
									</button>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>

				</div>

				<div *ngIf="step == 7">

					<ion-row>

						<ion-col size="6">

							<label class="modal-label">
								Puntaje casa
							</label>

							<input type="number" class="modal-input" [(ngModel)]="home_score">
						</ion-col>

						<ion-col size="6">

							<label class="modal-label">
								Puntaje invitado
							</label>

							<input type="number" class="modal-input" [(ngModel)]="away_score">
						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Fecha del partido
							</label>

							<ion-datetime [(ngModel)]="date" class="modal-input" cancel-text="Cancelar" done-text="Ok" displayFormat="DD-MM-YYYY"></ion-datetime>
						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Hora del partido
							</label>

							<ion-datetime [(ngModel)]="hour" class="modal-input" cancel-text="Cancelar" done-text="Ok" displayFormat="HH:mm"></ion-datetime>
						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Ubicación
							</label>

							<input type="text" class="modal-input" [(ngModel)]="location">
						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Asistentes
							</label>

							<input type="number" class="modal-input" [(ngModel)]="attendances">
						</ion-col>

						<ion-col size="3">
							<label class="modal-label">
								Periodos
							</label>

							<label style="margin-right: 12px;">
								<input type="radio" checked name="periods" value="2">
								2
							</label>

							<label style="margin-right: 12px;">
								<input type="radio" name="periods" value="3">
								3
							</label>

							<label style="margin-right: 12px;">
								<input type="radio" name="periods" value="4">
								4
							</label>
						</ion-col>

						<ion-col size="3">

							<label class="modal-label">
								Minutos
							</label>

							<input type="number" class="modal-input" [(ngModel)]="minutes">
						</ion-col>
					</ion-row>



					<ion-row>
						<ion-col size="6" offset="6">
							<ion-row>
								<ion-col size="6">
									<button class="modal-button" (click)="upProject()">
										Listo
									</button>
								</ion-col>

								<ion-col size="6">
									<button class="modal-button danger" (click)="step = 2">
										Cancelar
									</button>
								</ion-col>
							</ion-row>
						</ion-col>

					</ion-row>

				</div>
			</div>
		</div>
	</div>

</ion-content>
