<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

	<div id="modal-header">
		Información
	</div>
	<div id="outer-modal">
		<div id="inner-modal">

			<div id="inner-information">
				<h3>¡Bienvenidos a la aplicación OFICIAL de AFEC Football Academy!</h3>

				<h5>Hemos creado una herramienta sencilla desde dónde podrás gestionar todo tu club / equipo. Sólo tienes que ir navegando por los 3 módulos para gestionar los apartados correspondientes a cada uno de ellos:</h5>

				<h6>DIRECCIÓN METODOLÓGICA</h6>
					<ol>
						<li>
							Creación de tu club, plantillas y jugadores
						</li>
						<li>
							Creación de ejercicios y tareas en la pizarra con movimientos en 2D incluidos
						</li>
						<li>
							Creación de sesiones de entrenamientos compuesta por los ejercicios creados anteriormente
						</li>
						<li>
							Todo lo creado puede ser guardado y exportado en PDF
						</li>
					</ol>
				

				<h6>DIRECCIÓN DEPORTIVA</h6>
					<ol>
						<li>
							Creación de informes individuales
						</li>
						<li>
							Creación de base de datos con informes integrados
						</li>
						<li>
							Todo lo creado puede ser guardado y exportado en PDF
						</li>
					</ol>
				

				<h6>ANÁLISIS TÁCTICO</h6>
					<ol>
						<li>
							Creación de partidos con una ficha de partido
						</li>
						<li>
							Registro de eventos para posteriormente elaborar un informe
						</li>
						<li>
							Todo lo creado puede ser guardado y exportado en PDF
						</li>
					</ol>
				

				<h5><i>Deseamos que tu experiencia con el software sea excelente. Sí tienes cualquier duda o problema técnico no dudes en contactarnos:</i></h5>

				<a target="_blank" href="mailto:info@afecfa.es">info@afecfa.es</a> <br>

				<h6><i>Puedes ver la aplicación en funcionamiento en el siguiente <a href="https://youtu.be/71UbgBaT4Mw" target="_blank">vídeo</a></i></h6>
			</div>
		</div>
	</div>

</ion-content>
