<!-- <ion-header>
  <ion-toolbar>
    <ion-title>information</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div id="modal-header" *ngIf="step == 3">
    Configuración de los equipos
  </div>

  <div id="modal-header" *ngIf="step == 4">
    Nuevo Equipo
  </div>

  <div id="modal-header" *ngIf="step == 5">
    Plantilla
  </div>

  <div id="modal-header" *ngIf="step == 6">
    Datos del/la Futbolista
  </div>

  <div id="modal-header" *ngIf="step == 7">
    Editar Equipo
  </div>
  <div id="outer-modal">
    <div id="inner-modal">

      <div id="inner-information">

        <div *ngIf="step == 3">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query1">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: center;">
            <ion-col size="3">Logo</ion-col>
            <ion-col size="4">Nombre</ion-col>
            <ion-col size="4">Fecha de Creación</ion-col>
            <!-- <ion-col size="3">Favorito</ion-col> -->
            <ion-col size="1"></ion-col>
          </ion-row>

          <div style="height: 421px; overflow: auto;">
            

            <ion-row *ngFor="let t of teams | search:query1; let i = index;" style="margin: 8px 0" [ngClass]="{'selectedTeam': team == t.id}">
              <ion-col size="3" (click)="team = t.id">
                <div class="team-logo" [ngStyle]="{'background-image':'url('+t.image+')'}"></div>
              </ion-col>
              <ion-col size="4" (click)="team = t.id" style="text-align: center;">
                <span class="reconfigure">{{t.name}}</span>
              </ion-col>
              <ion-col size="4" (click)="team = t.id" style="text-align: center;">
                <span class="reconfigure">{{t.created_at | date:'dd-MM-yyyy'}}</span>
              </ion-col>
              <!-- <ion-col size="3">
                <span class=""><ion-toggle style="margin-top: 4px"></ion-toggle></span>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete(t.id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="teams.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">Sin resultados</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="goCreate()">
                    Nuevo Equipo
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button class="modal-button" *ngIf="team != null" (click)="step = 5; preRosters(); prePlayers();">
                    Plantilla
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" *ngIf="team != null" (click)="step = 7; edit();">
                    Editar
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="modal.dismiss()">
                    Cerrar
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>

        <div *ngIf="step == 4">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                Nombre del equipo
              </label>

              <input type="text" class="modal-input" [(ngModel)]="team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!team_name" (click)="saveTeam()">
                    Agregar
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 3">
                    Cancelar
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 5">

          <ion-row>
            <ion-col size="12">
              <div id="search-doc">
                <ion-icon name="search"></ion-icon>
                <input type="text" [(ngModel)]="query2">
                <div style="clear: both;"></div>
              </div>    
            </ion-col>
          </ion-row>
          
          <ion-row style="border-bottom: 1px solid #ccc; text-align: left;">
            <ion-col size="1"></ion-col>
            <ion-col size="2">Nombre</ion-col>
            <ion-col size="2">Email</ion-col>
            <ion-col size="1">Teléfono</ion-col>
            <ion-col size="1">Número</ion-col>
            
            <ion-col size="3" class="ion-no-padding">

              <ion-row>

                <ion-col size="6">Posición Principal</ion-col>
                <ion-col size="6">Posición Secundaria</ion-col>
                
              </ion-row>
              
            </ion-col>
            
            <ion-col size="1">Dominancia</ion-col>
            <!-- <ion-col size="2">Peto</ion-col> -->
            <ion-col size="1"></ion-col>
            
          </ion-row>

          <div style="height: 403px; overflow: auto;">
            

            <ion-row *ngFor="let r of rosters | search:query; let i = index;" style="margin: 8px 0">
              <ion-col size="1">
                
                <label class="preselect2" [ngStyle]="{'background-image':'url('+r.player?.image+')'}">
                  
                </label>

              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">
                  <select [attr.data-id]="r.id" class="players form-control" (change)="updateRoster(r,$event,'player')">
                    <option selected></option>
                    <option [selected]="p.id == r.player_id" *ngFor="let p of players | double:players_selected:r.player_id" [value]="p.id">{{p.name}}</option>
                  </select>
                </span>
                <!-- <span class="reconfigure">{{r.player.name}}</span> -->
              </ion-col>
              <ion-col size="2">
                <span class="reconfigure">{{r.player?.email}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">{{r.player?.phone}}</span>
              </ion-col>
              <ion-col size="1">
                <span class="reconfigure">
                  <input type="number" [attr.data-id]="r.id" class="numbers form-control" [value]="r.number" (change)="updateRoster(r,$event,'number')">
                </span>
              </ion-col>
              <ion-col size="3" class="ion-no-padding">

                <ion-row>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions form-control" (change)="updateRoster(r,$event,'position')">
                        <option selected></option>
                        <option [selected]="r.position == 'Portero'">Portero</option>
                        <option [selected]="r.position == 'Carrilero'">Carrilero</option>
                        <option [selected]="r.position == 'Mediocampista'">Mediocampista</option>
                        <option [selected]="r.position == 'Lateral izquierdo'">Lateral izquierdo</option>
                        <option [selected]="r.position == 'Defensa central'">Defensa central</option>
                        <option [selected]="r.position == 'Lateral derecho'">Lateral derecho</option>
                        <option [selected]="r.position == 'Centrocampista Ofensivo'">Centrocampista Ofensivo</option>
                        <option [selected]="r.position == 'Centrocampista Defensivo'">Centrocampista Defensivo</option>
                        <option [selected]="r.position == 'Extremo Derecho'">Extremo Derecho</option>
                        <option [selected]="r.position == 'Extremo Izquierdo'">Extremo Izquierdo</option>
                        <option [selected]="r.position == 'Mediapunta'">Mediapunta</option>
                        <option [selected]="r.position == 'Delantero'">Delantero</option>
                      </select>
                    </span>
                  </ion-col>

                  <ion-col size="6">
                    <span class="reconfigure">
                      <select [attr.data-id]="r.id" class="positions_2 form-control" (change)="updateRoster(r,$event,'position_2')">
                        <option selected></option>
                        <option [selected]="r.position_2 == 'Portero'">Portero</option>
                        <option [selected]="r.position_2 == 'Carrilero'">Carrilero</option>
                        <option [selected]="r.position_2 == 'Mediocampista'">Mediocampista</option>
                        <option [selected]="r.position_2 == 'Lateral izquierdo'">Lateral izquierdo</option>
                        <option [selected]="r.position_2 == 'Defensa central'">Defensa central</option>
                        <option [selected]="r.position_2 == 'Lateral derecho'">Lateral derecho</option>
                        <option [selected]="r.position_2 == 'Centrocampista Ofensivo'">Centrocampista Ofensivo</option>
                        <option [selected]="r.position_2 == 'Centrocampista Defensivo'">Centrocampista Defensivo</option>
                        <option [selected]="r.position_2 == 'Extremo Derecho'">Extremo Derecho</option>
                        <option [selected]="r.position_2 == 'Extremo Izquierdo'">Extremo Izquierdo</option>
                        <option [selected]="r.position_2 == 'Mediapunta'">Mediapunta</option>
                        <option [selected]="r.position_2 == 'Delantero'">Delantero</option>
                      </select>
                    </span>
                  </ion-col>
                  
                </ion-row>
                
              </ion-col>

              <ion-col size="1">
                <span class="reconfigure">{{r.player?.side}}</span>
              </ion-col>

              <!-- <ion-col size="2">
                <span class=""><ion-toggle [checked]="r.titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
              </ion-col> -->
              <!-- <ion-col size="2">
                <div class="team-logo" [ngStyle]="{'background-color': (r.peto || '#fff') }"></div>
              </ion-col> -->
              <ion-col size="1">
                <span class="">
                  <ion-button slot="icon-only" color="danger" (click)="delete2(r.id,team)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </span>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="rosters.length == 0">
              <ion-col size="12" style="text-align: center; font-size: 14px;">Sin resultados</ion-col>
            </ion-row>

          </div>

          <ion-row>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" (click)="step = 6">
                    Añadir Futbolista
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button danger" style="width: 50%; float: right; height: 42px;" (click)="addRoster({})">
                    <ion-icon style="color: crimson;" name="add-outline"></ion-icon>
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button" (click)="step = 3">
                    Ok
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>


        </div>


        <!-- /**/ -->

        <div *ngIf="step == 6">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+player_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'player_image')">
              </label>

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                Nombre
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_name">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                Núm.
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_number">
              
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                Posición Principal
              </label>

              <select [(ngModel)]="player_position" class="form-control" style="top: 10px;">
                <option>Portero</option>
                <option>Carrilero</option>
                <option>Mediocampista</option>
                <option>Lateral izquierdo</option>
                <option>Defensa central</option>
                <option>Lateral derecho</option>
                <option>Centrocampista Ofensivo</option>
                <option>Centrocampista Defensivo</option>
                <option>Extremo Derecho</option>
                <option>Extremo Izquierdo</option>
                <option>Mediapunta</option>
                <option>Delantero</option>
              </select>
            </ion-col>

            <ion-col size="3">
              <label class="modal-label">
                Posición Secundaria
              </label>

              <select [(ngModel)]="player_position_2" class="form-control" style="top: 10px;">
                <option>Portero</option>
                <option>Carrilero</option>
                <option>Mediocampista</option>
                <option>Lateral izquierdo</option>
                <option>Defensa central</option>
                <option>Lateral derecho</option>
                <option>Centrocampista Ofensivo</option>
                <option>Centrocampista Defensivo</option>
                <option>Extremo Derecho</option>
                <option>Extremo Izquierdo</option>
                <option>Mediapunta</option>
                <option>Delantero</option>
              </select>
            </ion-col>

            <ion-col size="3" offset="3">

              <label class="modal-label">
                Fecha de Nac.
              </label>

              <input type="date" class="modal-input" [(ngModel)]="player_bday">             

            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                Sexo
              </label>

              <select [(ngModel)]="player_sex" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option>Masculino</option>
                <option>Femenino</option>
              </select>

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                Peso
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_weight">

            </ion-col>

            <ion-col size="1">

              <label class="modal-label">
                Altura
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_height">
              
            </ion-col>

            <ion-col size="2">

              <label class="modal-label">
                Dominancia
              </label>

              <select [(ngModel)]="player_side" class="form-control" style="top: 10px;">
                <option selected disabled></option>
                <option>Diestro</option>
                <option>Zurdo</option>
              </select>
              
            </ion-col>

            <!-- <ion-col size="2">
              <label class="modal-label">
                Titular
              </label>

              <span class=""><ion-toggle [(ngModel)]="player_titular" style="margin-top: 4px; padding-left: 0"></ion-toggle></span>
            </ion-col> -->

            <ion-col size="6">

              <label class="modal-label">
                Teléfono de Contacto
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_phone">
              
            </ion-col>

            <ion-col size="6">

              <label class="modal-label">
                Email de Contacto
              </label>

              <input type="text" class="modal-input" [(ngModel)]="player_email">
              
            </ion-col>

            <ion-col size="12">
              <label class="modal-label">
                Características o atributos
              </label>

              <textarea [(ngModel)]="player_notes" style="width: 100%; resize: none; border-radius: 4px; padding: 8px;" rows="6"></textarea>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!player_name" (click)="savePlayer()">
                    Agregar
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 5">
                    Cancelar
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>

        <!-- /**/ -->

        <div *ngIf="step == 7">

          <ion-row style="height: 521px;">
            <ion-col size="3">

              <label class="preselect" [ngStyle]="{'background-image':'url('+update_team_image+')'}">
                <input type="file" style="display: none" id="team-file" (change)="upload($event,'update_team_image')">
              </label>

            </ion-col>

            <ion-col size="9">

              <label class="modal-label">
                Nombre del equipo
              </label>

              <input type="text" class="modal-input" [(ngModel)]="update_team_name">
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col offset="4" size="4">
              <button class="button-login" [disabled]="!update_team_name" (click)="saveTeam()">
                Agregar
              </button>
            </ion-col>
          </ion-row> -->

          <ion-row>
            <ion-col size="6" offset="6">
              <ion-row>
                <ion-col size="6">
                  <button class="modal-button" [disabled]="!update_team_name" (click)="updateTeam()">
                    Guardar
                  </button>
                </ion-col>

                <ion-col size="6">
                  <button class="modal-button danger" (click)="step = 3">
                    Cancelar
                  </button>
                </ion-col>
              </ion-row>
            </ion-col>

          </ion-row>

        </div>
      </div>
    </div>
  </div>

</ion-content>
